[user]
    email =
    name = Mo-TMD
[merge]
    conflictStyle = diff3
[mergetool "vscode"]
    cmd = code --wait $MERGED
[mergetool "sk"]
    cmd = git_merge_tool_survival_knife "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
[oh-my-zsh]
    hide-status = 1
    hide-dirty = 1
[color]
    ui = always
[safe]
    directory = *
[diff]
    tool = nvim_difftool
[difftool "nvim_difftool"]
    # Idea: if difftool is already open, skip tabnew and go to difftool tab.
    # - How to check if difftool is already open? Perhaps check autocommand exists
    # - How to get the difftool tab?
    # https://chatgpt.com/share/6a331c73-8980-83eb-9c2d-9200c52947dd
    cmd = "if [ -n \"$NVIM\" ]; then \
               nvr -cc \"packadd nvim.difftool | tabnew | DiffTool $LOCAL $REMOTE\"; \
           else \
               nvim -c \"packadd nvim.difftool | DiffTool $LOCAL $REMOTE\"; \
           fi\
          "
