[user]
    email =
    name = Mo-TMD
[merge]
    conflictStyle = diff3
[mergetool "vscode"]
    cmd = code --wait $MERGED
[mergetool "sk"]
    cmd = git_merge_tool_survival_knife "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
[oh-my-zsh]
    hide-status = 1
    hide-dirty = 1
[color]
    ui = always
[safe]
    directory = *
[diff]
    tool = nvim_difftool
[difftool "nvim_difftool"]
    cmd = "nvim_difftool $LOCAL $REMOTE"
    #cmd = "if [ -n \"$NVIM\" ]; then \
    #           nvr -cc \"let b:LeftInTerminalMode=1\" -cc \"lua CloseDiffTool()\" -cc \"tabnew\" -cc \"DiffTool $LOCAL $REMOTE\"; \
    #       else \
    #           nvim -c \"DiffTool $LOCAL $REMOTE\"; \
    #       fi\
    #      "
